body {
    background-color: rgb(255, 255, 255);

    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
    margin: 0;

    padding: 25px 0px;
}

p {
    margin: 0;
}

h1 {
    margin: 0;

    font-size: 64px;
    font-family: "Playfair Display", serif;
    color: #363031;
}

.flex-container {
    display: flex;
    justify-content: center;
    gap: 126px;

    /* background-color: blanchedalmond; */

    padding-bottom: 44px;
}

.container {
    width: 1440px;
    height: 1350px;
    background-color: rgb(255, 255, 255);

    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
}

.title {
    width: 464px;
    height: 498px;
    /* background-color: bisque; */

    display: flex;
    flex-direction: column;
    gap: 32px;
}

.title-text {
    width: 100%;
    height: 240px;
}

.title-explication {
    font-size: 24px;
    font-family: "Playfair Display", serif;

    width: 412px;
    height: 128px;
}

button {
    width: 179px;
    height: 66px;
    background: #A36A4F;

    border-radius: 36px;
    border: none;

    margin: 0;

    color: white;
    font-size: 24px;
    font-weight: 400;
    font-family: 'Avenir', sans-serif;
}

.title-padding {
    padding-top: 157px;
}

/* Imagen de cafe */

.img-container {
    width: 592.48px;
    height: 592.48px;
    /* background-color: rgb(70, 85, 80); */
}

.img-padding {
    padding-top: 64px;
}


/* Carta de medio */

.carta-container {
    position: absolute;
}

.carta-medio {
    width: 878px;
    height: 188px;
    background: #ECDAC4;

    border-radius: 80px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "Poppins", sans-serif;
}

.lista-container {
    width: 686px;
    height: 140px;
    /* background-color: #d2acb8; */

    display: flex;
    justify-content: space-between;
}

.texto-lista {
    font-weight: 600;
    font-size: 32px;

    color: #363031;
}

.texto-lista2 {
    width: 170px;
    height: 48px;

    font-size: 16px;
    text-align: center;
    color:  #363031;


}

.lista-contenidos {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
}


.medio-flex {
    display: flex;
    justify-content: center;
    padding-bottom: 94px;
}

/* Tipos de cafe */

.tipos-cafe {
    width: 1440px;
    height: 472px;
    background: #363032;

    display: flex;
    justify-content: center;

    font-family: "Poppins", sans-serif;  
}

.tipos-cafe-padding {
    padding-top: 138px;
}

.lista-tipos {
    width: 1314px;
    height: 286px;

    /* background-color: rgb(209, 180, 241); */
}

.lista-tipos ul li p {
    font-size: 16px;
    font-weight: 300;
}

.flex-foto {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    color: white;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    padding: 0;
}
