h1, p {
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
    font-family: "Lato", sans-serif;

    margin: 0;
    padding: 25px 0px;

    background-color: rgb(206, 206, 206);
}

.container {
    width: 1440px;
    height: 1024px;
    background: #FFFFFF;

    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
}

/* ESTRUCTURA DE TITULO */

.titulo-container {
    width: 601px;
    height: 374px;
    /* background-color: beige; */

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    position: absolute;

    padding-left: 71px;
    padding-top: 135px;

}

.titulo-container h1 {
    width: 601px;
    height: 131px;

    font-size: 56px;

    color: #333333;
}

.titulo-container p {
    width: 556px;
    height: 128px;

    color: #333333;

    font-size: 24px;
}

.titulo-container button {
    background: #333333;
    width: 222px;
    height: 66px;

    border-radius: 40px;
    border: none;

    color: white;
    font-size: 22px;
    font-family: "Lato", sans-serif;

    padding: 0;
}

/* -------- */

/* ESTRUCTURA DE EXPLICACIO */

/* BOX ONE */

.explicacio-container {
    width: 581px;
    height: 338px;
    /* background-color: aquamarine; */

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    position: absolute;

    padding-left: 64px;
    padding-top: 622px;
}

.box-one {
    width: 578px;
    height: 161px;

    display: flex;
    justify-content: space-between;
}

.box-green-one {
    width: 273px;
    height: 161px;
    background: #C6D9E1;

    border-radius: 24px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.box-yellow-one {
    width: 273px;
    height: 161px;
    background: #F4F4F4;

    border-radius: 24px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.box-green-one-text, .box-yellow-one-text {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.box-green-one h2, .box-yellow-one h2 {
    color: #333333;
    font-weight: 700;
    font-size: 24px;

    width: 73px;
    height: 29px;

    margin: 0;
}

.box-green-one p, .box-yellow-one p {
    width: 221px;
    height: 76px;
    color: #333333;
}

/* ---------- */

/* BOX TWO */

.box-two {
    width: 581px;
    height: 145px;

    background: #F4F4F4;
    border-radius: 24px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.box-two-text {
    width: 307px;
    height: 113px;

    display: flex;
    flex-direction: column;
    gap: 8px;
}

.box-two-text h2 {
    color: #333333;
    font-weight: 700;
    font-size: 24px;

    width: 49px;
    height: 29px;

    margin: 0;
}

.box-two-text p {
    width: 307px;
    height: 76px;
    color: #333333;
}

.img-container-explicacio {
    width: 188px;
    height: 113px;
}

.img-text-box-container {
    display: flex;
    gap: 32px;  
}

/* ----------- */

.img-container {
    width: 725px;
    height: 905px;
    /* background-color: beige; */
    position: absolute;

    padding-left: 715px;
    padding-top: 119px;
}

/* ---------------- */
