body {
    margin: 0;
    background-color: rgb(255, 255, 255);

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    font-family: "Dancing Script", cursive;
}

h1, h2, p {
    margin: 0;
}

h2 {
    font-weight: 400;
    letter-spacing: 2px;
}

/* ------COLORES---- */
.pro1 {
    background: #FFFFFF;
    background: linear-gradient(50deg, rgba(255, 255, 255, 1) 0%, rgba(252, 255, 196, 1) 99%);
} 

.pro2 {
    background: #FFFFFF;
    background: linear-gradient(50deg, rgba(255, 255, 255, 1) 0%, rgb(255, 202, 56) 99%);
}

.pro3 {
    background: #FFFFFF;
    background: linear-gradient(50deg, rgba(255, 255, 255, 1) 0%, rgba(255, 132, 56, 1) 99%);
}

.pro4 {
    background: #ffffff;
    background: linear-gradient(50deg, rgba(255, 255, 255, 1) 0%, rgba(143, 206, 255, 1) 99%);
}

.pro5 {
    background: #FFFFFF;
    background: linear-gradient(50deg, rgba(255, 255, 255, 1) 0%, rgba(255, 229, 201, 1) 99%);
}

.pro6 {
    background: #FFFFFF;
    background: linear-gradient(50deg, rgba(255, 255, 255, 1) 0%, rgba(222, 140, 255, 1) 99%);
}

.pro7 {
    background: #FFFFFF;
    background: linear-gradient(50deg, rgba(255, 255, 255, 1) 0%, rgba(201, 255, 204, 1) 99%);
}

.pro8 {
    background: #FFFFFF;
    background: linear-gradient(50deg, rgba(255, 255, 255, 1) 0%, rgba(255, 201, 233, 1) 99%);
}

.pro8 {
    background: #FFFFFF;
    background: linear-gradient(50deg, rgba(255, 255, 255, 1) 0%, rgba(255, 201, 233, 1) 99%);
}

.pro9 {
    background: #FFFFFF;
    background: linear-gradient(50deg, rgba(255, 255, 255, 1) 0%, rgb(202, 201, 255) 99%);
}

/* --------------- */

.box {
    width: 290px;
    height: 320px;
    background-color: rgb(255, 255, 255);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 27px;

    box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.365);

    border-radius: 10px;
}

img {
    width: 220px;
    height: 200px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.127);
}

.fila1 {
    display: flex;
    gap: 20px;
}

.fila-flex {
    display: flex;
    flex-direction: column;
    gap: 50px;
    
    background-color: rgba(255, 255, 255, 0.628);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.222);
}

.box img {
    border-radius: 5px;
}