body {
    margin: 0;
    background-color: rgb(255, 255, 255);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 90px;
    min-height: 100vh;

    font-family: "Changa One", sans-serif;

    background-image: url(img_index/1130469.png);
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    width: 100%;
    height: fit-content;
    background-color: #ffffff11;

    text-align: center;
    font-family: "Poppins", sans-serif;
    color: #FFFFFF;

    padding: 30px 0px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

footer {
    font-family: "Poppins", sans-serif;
    text-align: center;
    color: #FFFFFF;
    font-size: 20px;

    padding: 20px 0px;

    /* background-color: #ffffff0c; */
    /* border-top: 1px solid rgb(255, 255, 255, 0.5); */

    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

h1, h2, p {
    margin: 0;
}

h2 {
    font-weight: 400;
    letter-spacing: 2px;
}

.box {
    width: 290px;
    height: 320px;
    background-color: rgba(255, 255, 255, 0.13);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 27px;

    box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.365);

    border-radius: 10px;

    color: rgb(255, 255, 255);
}

.box a:hover {
    border-bottom: 5px solid rgb(255, 255, 255);
    padding-bottom: 5px;
}

.box img {
    width: 220px;
    height: 200px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.219);
    border: 1px solid rgba(0, 0, 0, 0.127);
}

.fila1 {
    display: flex;
    gap: 20px;
}

.fila-flex {
    display: flex;
    flex-direction: column;
    gap: 50px;
    
    background-color: rgba(255, 255, 255, 0);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.205);

    border: 1px solid rgba(255, 255, 255, 0.116);
}

.box img {
    border-radius: 5px;
}

footer img {
    width: 36px;
    height: 36px;
}

footer a {
    display: flex;
    align-items: center;
}

/* COLOR TEXT */
.color2 {
    background-color: rgb(173, 68, 121);
    padding: 3px 8px 7px 8px;
    border-radius: 10px;
}

.color3 {
    background-color: rgb(255, 200, 138);
    padding: 3px 8px 7px 8px;
    border-radius: 10px;
}

.color4 {
    background-color: rgb(173, 68, 168);
    padding: 3px 8px 7px 8px;
    border-radius: 10px;
}

.color5 {
    background-color: rgb(228, 125, 164);
    padding: 3px 8px 7px 8px;
    border-radius: 10px;
}

.color6 {
    background-color: rgb(199, 141, 86);
    padding: 3px 8px 7px 8px;
    border-radius: 10px;
}

.color7 {
    background-color: rgb(255, 161, 247);
    padding: 3px 8px 7px 8px;
    border-radius: 10px;
}

.color8 {
    background-color: rgb(66, 23, 122);
    padding: 3px 8px 7px 8px;
    border-radius: 10px;
}

.color9 {
    background-color: rgb(211, 190, 100);
    padding: 3px 8px 7px 8px;
    border-radius: 10px;
}

.color10 {
    background-color: rgb(255, 73, 240);
    padding: 3px 8px 7px 8px;
    border-radius: 10px;
}

.color11 {
    background-color: rgb(83, 216, 123);
    padding: 3px 8px 7px 8px;
    border-radius: 10px;
}