body {
    font-family: "Lato", sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;

    margin: 0;
    padding: 25px 0px;

    background-color: rgb(206, 206, 206);
}

h1, h2, p {
    margin: 0;
}

.bc {
    width: 1440px;
    height: 994px;
    background-color: #FFFFFF;
    /* border: 1px solid black; */

    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
}

.bc-foto {
    width: 1440px;
    height: 916px;

    background-image: url(img/Hero\ image\ bg.png);
    background-repeat: no-repeat;

    position: absolute;
}

.box-text {
    width: 581px;
    height: 494px;

    /* border: 1px solid black; */

    padding-top: 121px;
    padding-left: 64px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.box-text h1 {
    font-weight: 600;
    font-size: 72px;
    color: #FFFFFF;

    width: 581px;
    height: 172px;
}

.box-text p {
    font-weight: 400;
    font-size: 24px;
    color: #FFFFFF;
}

.box-text button {
    padding: 0;
    width: 222px;
    height: 66px;
    background: #FFFFFF;
    border-radius: 40px;
    border: none;
    font-family: "Lato", sans-serif;

    font-weight: 500;
    color: #122A29;
    font-size: 22px;
}

.list-foto {
    width: 1312px;
    height: 168px;

    position: absolute;

    padding-top: 762px;
    padding-left: 64px;
}

