body {
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
    font-family: "Lato", sans-serif;

    margin: 0;
    padding: 25px 0px;

    background-color: rgb(255, 255, 255);
}

h1, p {
    margin: 0;
}

.bc {
    width: 1440px;
    height: 1024px;

    background: #080C15;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
}

.text-box span {
    color: red;
}

.box {
    width: 539px;
    height: 582px;

    /* background-color: blue; */

    font-family: "Montserrat", sans-serif;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    position: absolute;
    padding-top: 181px;
    padding-left: 100px;
}

.text-box h1 {
    font-size: 64px;

    font-weight: 800;

    color: white;
}

.box p {
    width: 536px;
    height: 68px;

    font-weight: 400;
    font-size: 24px;

    color: white;
}

.box button {
    width: 280px;
    height: 66px;

    border-radius: 40px;
    background: #CD292A;
    border: none;

    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 22px;
    font-weight: 500;

    padding: 0;
}

.fondo {
    position: absolute;

    padding-left: 441.46px;
}

.footer {
    width: 1112px;
    height: 101px;

    position: absolute;
    display: flex;
    justify-content: space-between;

    padding-left: 100px;
    padding-top: 859px;
}

.text2 {
    width: 360px;
    height: 101px;
    border-bottom-left-radius: 60px;
    border-top-left-radius: 60px;
    background: linear-gradient(94.19deg, rgba(255, 255, 255, 0.4) 8.76%, rgba(255, 255, 255, 0) 100%);
    

    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 24px;

    display: flex;
    justify-content: center;
    align-items: center;
}

