body {
    font-family: "Lato", sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;

    margin: 0;
    padding: 25px 0px;

    background-color: rgb(206, 206, 206);
}

h1, h2, p {
    margin: 0;
}

.bc {
    width: 1440px;
    height: 1024px;
    background: #FFFFFF;
    /* border: 1px solid black; */

    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
}

.text-box {
    width: 556px;
    height: 430px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    position: absolute;

    padding-left: 64px;
    padding-top: 129px;
}

.h1-box {
    width: 556px;
    height: 204px;
}

.t1 {
    color: #333333;
    font-weight: 600;
    font-size: 80px;
}

.text-box p {
    width: 495px;
    height: 96px;

    font-weight: 400;
    font-size: 24px;
    color: #333333;
}

.text-box button {
    width: 222px;
    height: 66px;
    background: #333333;

    font-weight: 500;
    font-size: 22px;
    font-family: "Lato", sans-serif;
    color: #FFFFFF;

    border-radius: 40px;
}

.info-box {
    width: 676px;
    height: 383px;
    /* border: 1px solid black; */

    padding-top: 129px;
    padding-left: 700px;

    position: absolute;

    display: flex;
    gap: 40px;
}

.file1 {
    width: 318px;
    height: 384px;

    display: flex;
    flex-direction: column;
    gap: 78px;
}

.box {
    width: 318px;
    height: 76px;

    display: flex;
    gap: 32px;
}

.box img {
    width: 76px;
    height: 76px;
}

.text {
    width: 210px;
    height: 76px;

    display: flex;
    flex-direction: column;
    gap: 4px;
}

.box h2 {
    width: 49px;
    height: 34px;

    font-weight: 700;
    font-size: 28px;
    color: #333333;
}

.box p {
    font-size: 16px;
    font-weight: 400;
    color: #333333;
}

.img-box {
    width: 1312px;
    height: 283px;
}

ul {
    list-style: none;
    padding: 0;

    display: flex;
    position: absolute;

    padding-top: 677px;
    padding-left: 64px;
}

.radio1 {
    border-bottom-left-radius: 32px;
    border-top-left-radius: 32px;
}

.radio2 {
    border-bottom-right-radius: 32px;
    border-top-right-radius: 32px;
}

.div-box {
    position: absolute;
    width: 328px;
    height: 86px;


    padding-top: 197px;

    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.37) 100%);
}

.div-box p {
    width: 223px;
    height: 38px;

    font-weight: 400;
    font-size: 16px;

    color: #FFFFFF;
    position: absolute;
    text-align: center;
}